<h1>Reset Password</h1>
<%= form_tag reset_password_users_path do |form| %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email,nil,required: true %>
  </div>
  <div class="field">
    <%= label_tag :current_password %>
    <%= password_field_tag :current_password,nil,required: true %>
  </div>
  <div class="field">
    <%= label_tag :new_password %>
    <%= password_field_tag :new_password,nil,required: true %>
  </div>
  <div class="actions">
    <%= submit_tag "Change Password" %> <%= link_to "Login",login_path%>
  </div>
<% end %> 