<h3 class="text-center">Widgets</h3>
<!-- <div class="col-md-12">
	<p>
		Name: <%= @widgets.first[:name]%>
	</p>
	<p>
		Name: <%= @widgets.first[:name]%>
	</p>
	<p>
		Name: <%= @widgets.first[:name]%>
	</p>
	<p>
		Name: <%= @widgets.first[:name]%>
	</p>
</div> -->
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Image</th>
			<th>Description</th>
			<th>Created By</th>
		</tr>
	</thead>
	<tbody>
			<%@widgets.each do |widget|%>
				<tr>
					<td><%= widget["name"]%></td>
					<td><%= image_tag widget["user"]["images"]["small_url"],size: "60x60"%></td>
					<td><%= widget["description"]%></td>
					<td>
						<%= widget["user"]["name"]%>
						<% if current_user && params[:user_id].blank?%>
							(<%= link_to "View user's widgets",widgets_index_path(user_id: widget["user"]["id"])%>)
						<%end%>
					</td>
				</tr>
			<%end%>
	</tbody>
</table>

<div class="text-center">
	<%= will_paginate @widgets, renderer: BootstrapPagination::Rails %>
</div>
