
<div class="row">
	<%= form_tag widgets_search_path,class: "",remote: true do%>
		<%if params[:user_id].present?%>
			<div class="col-md-3 pull-left">
				<%= link_to "Back", widgets_index_path%>	
			</div>	
		<%end%>
		<div class="col-md-3 pull-right">	
			<button class="btn btn-primary btn-create" data-toggle= "modal" data-target= "#popup_div">	New Widget</button>&nbsp;&nbsp;
		</div>
		<div class="col-md-3 pull-right">
			<%= text_field_tag :term,params[:term],class: "form-control",onkeyup: "search_widgets(this.value)",placeholder: "Search Widgets"%>	
		</div>
	<%end%>
</div>
<div class="row" id="div_visible_widgets">
	<%= render 'index'%>
</div>

<div id="popup_div" class="modal fade" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">New Widget</h4>
    </div>
    <div class="modal-body">
	<%= form_tag(widgets_create_path, :remote => true,class: "form-horizontal") do |form| %>
		<div class="form-group">
			<%= label_tag :name%>
			<%= text_field_tag :name, nil, {class: "form-control",id: :widget_name, :style=>"width: 160px;!important"}%>
		</div>
		<div class="form-group">
			<%= label_tag :kind%>
			<%= select_tag :kind, AdminType::WIDGETS_KIND, {class: "form-control",id: :widget_kind, :style=>"width: 160px;!important"}%>
		</div>
		<div class="form-group">
			<%= label_tag :description%>
			<%= text_area_tag :description, nil, {class: "form-control",id: :widget_desc, :style=>"width: 160px;!important"}%>
		</div>
		<div style="margin: 10px;text-align: center;">
			<%= submit_tag "Save", class: "btn btn-sm btn-info" %>
		</div>
		
	<% end %>
	</div>
	<div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
	function search_widgets(term){
	$.ajax({
		url: "/widgets/search?term=" + term,
		type: "GET",
		dataType: "script",
		success: function(result){
			console.log("successsssssssssssssss")
			},
			error: function(result){
			console.log("errorrrrrrrrrrrr")
			}
	});
	}
</script>