<div class="col-md-12"> <h3 class="text-center">Widgets</h3></div>
<div class="row">
	<%if params[:user_id].present?%>
		<div class="col-md-3 pull-left">
			<%= link_to "Back", widgets_path%>	
		</div>	
	<%end%>
	
	<div class="col-md-3 pull-right">
		<%= text_field_tag :term,params[:term],class: "form-control",onkeyup: "search_widgets(this.value)",placeholder: "Search Widgets"%>	
	</div>

	<%if current_user.present?%>
		<div class="col-md-2 pull-right text-right">	
			<button class="btn btn-primary btn-create" data-toggle= "modal" data-target= "#popup_div">	New Widget</button>
		</div>
	<%end%>
</div>

<div class="row" id="div_visible_widgets">
	<%= render 'index'%>
</div>

<div id="popup_div" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" id="modal_title">New Widget</h4>
      </div>
    <div class="modal-body">
    <div>
	<%= form_tag(widgets_path, :remote => true,class: "form-horizontal",id: "form_widget") do |form| %>
		<div class="form-group">
			<%= label_tag :name%>
			<%= text_field_tag :name, nil, {class: "form-control",id: :widget_name,name: "widget[name]",required: true}%>
		</div>
		<div class="form-group" id="div_widget_kind">
			<%= label_tag :kind%>
			<%= select_tag :kind, options_for_select(AdminType::WIDGETS_KIND), {class: "form-control",id: :widget_kind,name: "widget[kind]",required: true}%>
		</div>
		<div class="form-group">
			<%= label_tag :description%>
			<%= text_area_tag :description, nil, {class: "form-control",id: :widget_desc,name: "widget[description]",required: true}%>
		</div>
		<div style="margin: 10px;text-align: center;">
			<%= submit_tag "Save", class: "btn btn-sm btn-info" %>
		</div>
		
	<% end %>
	</div>
	</div>
	<div class="modal-footer">
		<div class="alert alert-danger text-center" role="alert" style="display: none" id="div_modal_error">
		</div>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>


<div id="popup_div_widget_update" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" id="modal_title">Update Widget</h4>
      </div>
    <div class="modal-body">
    <div>
	<%= form_tag(widget_path("1"), :remote => true,class: "form-horizontal",id: "form_widget_update",method: :put) do |form| %>
		<div class="form-group">
			<%= label_tag :name%>
			<%= text_field_tag :name, nil, {class: "form-control",id: :update_widget_name,name: "widget[name]",required: true}%>
		</div>
		<div class="form-group">
			<%= label_tag :description%>
			<%= text_area_tag :description, nil, {class: "form-control",id: :update_widget_desc,name: "widget[description]",required: true}%>
		</div>
		<div style="margin: 10px;text-align: center;">
			<%= submit_tag "Save", class: "btn btn-sm btn-info" %>
		</div>
		
	<% end %>
	</div>
	</div>
	<div class="modal-footer">
		<div class="alert alert-danger text-center" role="alert" style="display: none" id="div_modal_error_update">
		</div>
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
</div>
</div>
</div>

<script type="text/javascript">
	function search_widgets(term){
	$.ajax({
		url: "/widgets/search?term=" + term,
		type: "GET",
		dataType: "script",
		success: function(result){
			console.log("successsssssssssssssss")
			},
			error: function(result){
			console.log("errorrrrrrrrrrrr")
			}
	});
	}
</script>