<!DOCTYPE html>
<html>
  <head>
    <title>Widgets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<div class="topnav">
		<a class="active" href="#home">Home</a>
		<a href="#about">About</a>
		<a href="#contact">Contact</a>
		<div class="login-container">
			<% if current_user %>
				Logged in as <%= current_user.email %>.
				<%= link_to "Log Out", logout_path %>
			<% else %>
				<%= link_to "Log In", login_path %>
				<%= link_to "Sign Up", signup_path %>  
			<% end %>

		</div>
	</div>
	<p id=”notice”><%= notice %></p>

  </head>

  <body>
  	<div class="container">
    	<%= yield %>
	</div>
  </body>
</html>
